<?xml version="1.0" ?>
<model>
    <name>prequalification_marker</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Dorson</name>
        <email>dorsontang123@gmail.com</email>
    </author>
    <description>Model of the marker used for the RoboSub competition prequalification task</description>
</model>
