<?xml version="1.0" ?>
<model>
    <name>steelhead_auv</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Jake</name>
        <email>jcronin97@live.ca</email>
    </author>
    <description>
        Steelhead AUV model consisting of six copies of thruster model and frame model
    </description>
</model>
